.image-container {
position: relative;
display: inline-block;
}

/*la galerie*/

#container-galerie{
  display: flex;
  justify-content: space-between;
}
.galerie{
  /*margin: 10px 50px;*/
}
.img-sol{
  /*align-items: center;*/
}
.galerie img {
  width: 250px;
  height: 200px;
  padding: 5px;
}

.galerie img:hover{
  transform: scale(1.1); /*l'image augmente un peu quand on la survole*/
}

.galerie a:not(:first-child) {
  display: none; /*cache les autres images dans la page d'accueil*/
}

/*présentation severine*/
.presentation-severine{
  display: flex;
  align-items: center;
}

#presentation-img{
    
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
      
}

/****************formulaire**********************/
form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  }
  form h1 {
    font-size: 20px;
  }
  form .separation {
    width: auto;
    height: 1px;
    background-color: #747cdf;
  }
  form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  form .corps-formulaire .groupe {
    position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
  }
 
  form .corps-formulaire .droite {
    margin-left: 10px ;
  }
  form .corps-formulaire .droite .groupe {
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
    width: 100%;
  }
  form .pied-formulaire button {
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  form .pied-formulaire button:hover {
    transform: scale(1.05);
  }

  

  #jaune {
    height: 15px;
    background-color: yellow;
  }
  
  #bleu{
    background-color: rgb(54, 205, 207);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:normal;
    font-size: 16px;
    padding-top: 20px;

    
  }

.col{
  flex-wrap: wrap;
}

/**********caroussel */
.container {
  position: relative; /* Positionne le conteneur comme élément parent pour les éléments de la diapositive */
  perspective: 1000px; /* Ajoute une perspective pour la transformation 3D des diapositives */
}

.container .slide-container .slide {
  border-radius: 5px; /* Ajoute un arrondi aux coins de la diapositive */
  background: #fff; /* Définit la couleur de fond de la diapositive en blanc */
  box-shadow: 0 5px 10px #3337; /* Ajoute une ombre à la diapositive */
  width: 450px; /* Définit la largeur de la diapositive à 450px */
  padding: 20px; /* Ajoute un espace intérieur à la diapositive */
  margin: 10px; /* Ajoute une marge autour de la diapositive */
  position: relative; /* Permet de positionner la diapositive par rapport au conteneur parent */
  transform-style: preserve-3d; /* Préserve la transformation 3D de la diapositive */
  animation: slide .4s linear; /* Ajoute une animation de glissement à la diapositive */
  left: 100px;
  right: 100px;
}

@keyframes slide {
  0% {
    transform: rotateX(180deg); /* Définit la rotation de la diapositive lorsqu'elle commence à 180 degrés */
  }
}

.container .slide-container .slide > * {
  animation: slideContent .2s linear .4s backwards; /* Ajoute une animation aux éléments enfants de la diapositive */
}

@keyframes slideContent {
  0% {
    opacity: 0; /* Définit l'opacité des éléments enfants de la diapositive à 0 */
    transform: scale(.5); /* Réduit la taille des éléments enfants de la diapositive à 50% */
  }
}

.container .slide-container .slide .icon {
  position: absolute; /* Positionne l'icône de la diapositive en tant qu'élément absolu */
  top: 10px;
  right: 15px; /* Positionne l'icône en haut à droite de la diapositive */
  font-size: 90px; /* Définit la taille de l'icône */
  color: palevioletred; /* Définit la couleur de l'icône en rouge-violet pâle */
}

.container .slide-container .slide .user {
  display: flex; /* Affiche les éléments enfants de l'utilisateur en tant que flexbox */
  align-items: center; /* Centre les éléments enfants de l'utilisateur verticalement */
}

.container .slide-container .slide img {
  height: 100px; /* Définit la hauteur de l'image de l'utilisateur à 100px */
  width: 100px; /* Définit la largeur de l'image de l'utilisateur à 100px */
  border-radius: 50px; /* Arrondit les coins de l'image de l'utilisateur */
  object-fit: cover; /* Ajuste la taille de l'image pour remplir le conteneur */
  margin-right: 10px; /* Ajoute une marge à droite de l'image de l'utilisateur */
}

.container .slide-container .slide .user .user-info h3 {
  color: #333; /* Définit la couleur du titre de l'utilisateur en noir */
  font-size: 20px; /* Définit la taille du titre de l'utilisateur à 20px */
}

.container .slide-container .slide .user .user-info .stars i {
  color: gold; /* Définit la couleur des étoiles en doré */
  font-size: 15px; /* Définit la taille des étoiles à 15px */
}

.container .slide-container .slide .text {
  color: #3498DB; /* Définit la couleur du texte en bleu */
  font-size: 14px; /* Définit la taille du texte à 14px */
  padding-top: 15px; /* Ajoute un espace en haut du texte */
  font-style: italic; /* Applique un style d'écriture en italique au texte */
}

.container .slide-container {
  display: none; /* Cache les conteneurs de diapositives par défaut */
}

.container .slide-container.active {
  display: block; /* Affiche les conteneurs de diapositives lorsqu'ils sont actifs */
}

.container #next, .container #prev {
  position: absolute; /* Positionne les boutons de navigation précédent/suivant en tant qu'éléments absolus */
  top: 50%; /* Positionne les boutons de navigation verticalement au centre */
  transform: translateY(-50%); /* Déplace les boutons de navigation de moitié vers le haut */
  height: 50px; /* Définit la hauteur des boutons de navigation à 50px */
  width: 50px; /* Définit la largeur des boutons de navigation à 50px */
  line-height: 50px; /* Centre le contenu des boutons de navigation verticalement */
  text-align: center; /* Centre le contenu des boutons de navigation horizontalement */
  font-size: 20px; /* Définit la taille du texte des boutons de navigation à 20px */
  background: #FFF; /* Définit la couleur de fond des boutons de navigation en blanc */
  color: #333; /* Définit la couleur du texte des boutons de navigation en noir */
  cursor: pointer; /* Affiche le curseur en tant que pointeur au survol */
  border-radius: 50%; /* Arrondit les coins des boutons de navigation */
  box-shadow: 0 5px 10px #3337; /* Ajoute une ombre aux boutons de navigation */
}

.container #next {
  right: 48.5%; /* Positionne le bouton suivant à 135px de la droite */
}

.container #prev {
  left: 40px; /* Positionne le bouton précédent à 70px de la gauche */
}

.container #next,
.container #prev {
  background: #333; /* Définit la couleur de fond des boutons de navigation en gris foncé */
  color: #fff; /* Définit la couleur du texte des boutons de navigation en blanc */
}


/***********************image flament************************/

#containerF{
  position: relative;
  display: flex;

}
#containerFlament{
  border-radius: 5px; /* Ajoute un arrondi aux coins de la diapositive */
  background: #fff; /* Définit la couleur de fond de la diapositive en blanc */
  box-shadow: 0 5px 10px #3337; /* Ajoute une ombre à la diapositive */
  width: 50%; /* Définit la largeur de la diapositive à 450px */
  padding: 20px; /* Ajoute un espace intérieur à la diapositive */
  margin: 10px; /* Ajoute une marge autour de la diapositive */
  position: relative; /* Permet de positionner la diapositive par rapport au conteneur parent */
  background-color: rgb(255, 192, 226);
}

#containerFlament .flamentR{
  text-align: center;
  font-weight: bold;
}


@media screen and (max-width: 760px) {


  /*partie gallerie*/
  #container-galerie{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  /*partie forumalaire */

  form .separation {
    width: auto;
  }

  /*footer*/
  #bleu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #bleu #image{
    width:auto; /* L'image occupe au maximum la largeur de son contenant */
    height: auto; /* La hauteur de l'image s'ajuste proportionnellement */
  }
  
  #lieux{
    text-align: center;
    width: 100%;
  }

  /*présentation severine*/
  .presentation-severine{
    flex-direction: column-reverse;
  }

  /*image de flament rose*/
  #containerF{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  #containerFlament{
    width: 100%;
  }

  #containerF img {
    display: none;
  }

  /*partie carrousel*/
  .container .slide-container .slide {
    width: 100%;
    padding: 5px; /* Ajoute un espace intérieur à la diapositive */
    margin: 3px; /* Ajoute une marge autour de la diapositive */
    position: relative;
    left:0;
    right:0;
  }
  
  .container #next {
    right: -47px; /* Positionne le bouton suivant à 135px de la droite */
  }

  .container #prev {
    left: -40px; /* Positionne le bouton précédent à 70px de la gauche */
  }

  .container .slide-container .slide .icon {
    top: 30px;
    font-size: 30px; /* Définit la taille de l'icône */
  }
}